body {
    margin: 0px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #d8ffe5;
}
.header {

}
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #749F82;
}
.menu {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
}
.menu__li {

}
.menu__a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.main-container {
    padding: 0px 10px;
}

.section-documentation__container1 {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-documentation__container1 p {
    padding: 6px 4px;
    margin: 0;
    margin-bottom: 20px;
    background-color: #FCE700;
}

.section-documentation__container2 {
    width: 90%;
    margin: auto;
}
.section-documentation__request-info {

}


.section-register {
    padding: 50px 0px;
    width: 35%;
    margin: auto;
}
.section-register__title {
    margin: 0px;
    text-align: center;
}
.section-register__list-errors {
    padding: 0px;
    list-style-type: none;
}
.section-register__item-error {
    padding: 5px 10px;
}
.section-register__error_invalid {
    padding: 5px 10px;
    background-color: #DD5353;
}
.form-register {

}
.form-register__div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.form-register__label {
    margin-bottom: 6px;
}
.form-register__input {
    padding: 8px 4px;
    outline: none;
}
.form-register__button {
    padding: 8px 14px;
    color: white;
    background-color: #749F82;
    border: none;
    cursor: pointer;
}

.section-generate-token {
    padding: 120px 0px;
}

.footer {
    background-color: #749F82;
}
.footer-container {
    display: flex;
    padding: 0px 15px;
    color: white;
}
.footer-container__div {
    width: 50%;
}
.footer-container__title {
    text-align: center;
}




.alert-danger {
    background-color: #DD5353;
}
.alert-success {
    background-color: #9CFF2E;
}